version: '3.9'

services:
  db:
    image: postgres:16
    environment:
      POSTGRES_DB: halalchicken
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: xusniddin2004
    ports:
      - "5435:5432"
    volumes:
      - db_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $${POSTGRES_USER} -d $${POSTGRES_DB}"]
      interval: 5s
      timeout: 3s
      retries: 5

  redis:
    image: redis:7
    ports:
      - "6379:6379"
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 3s
      retries: 5

  api:
    build:
      context: ./backend
    env_file:
      - ./backend/.env.example
    environment:
      POSTGRES_HOST: db
      REDIS_URL: redis://redis:6379/0
      DJANGO_ALLOWED_HOSTS: "*"
      DJANGO_SETTINGS_MODULE: core.settings.dev
    command: bash -lc "python manage.py migrate && python manage.py runserver 0.0.0.0:8000"
    ports:
      - "8000:8000"
    volumes:
      - ./backend:/app
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_healthy

  worker:
    build:
      context: ./backend
    env_file:
      - ./backend/.env.example
    environment:
      POSTGRES_HOST: db
      REDIS_URL: redis://redis:6379/0
      DJANGO_ALLOWED_HOSTS: "*"
      DJANGO_SETTINGS_MODULE: core.settings.dev
    command: celery -A core worker -l info
    volumes:
      - ./backend:/app
    depends_on:
      - api
      - redis

  beat:
    build:
      context: ./backend
    env_file:
      - ./backend/.env.example
    environment:
      POSTGRES_HOST: db
      REDIS_URL: redis://redis:6379/0
      DJANGO_ALLOWED_HOSTS: "*"
      DJANGO_SETTINGS_MODULE: core.settings.dev
    command: celery -A core beat -l info
    volumes:
      - ./backend:/app
    depends_on:
      - api
      - redis

  web:
    build:
      context: ./frontend
    environment:
      - VITE_API_ORIGIN=http://localhost:8000
    ports:
      - "5173:5173"
    volumes:
      - ./frontend:/app
    command: bash -lc "npm install && npm run dev -- --host"
    depends_on:
      - api

volumes:
  db_data:
